body {
  font-family: 'PT Sans', sans-serif;
  color: #FFF;
  background-color: #062F4F;
} 

a {
    color: #B82601;
}

.navbar-background {
    background-color: #000;
}
.navbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 17px;
}

.links a {
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
}

.links a:hover {
    color: #FFF;
    background-color: #B82601;
}

.footer-background {
    background-color: #000;  
}

.footer {
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.footer a:hover {
    color: #B82601;
}
