body {
  font-family: 'PT Sans', sans-serif;
  color: #666;
  background-color: #EFEFEF;
} 

a {
    color: #FF3B3F;
}

.navbar-background {
    background-color: #FFF;
}
.navbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #666;
    font-size: 17px;
}

.links a {
    color: #666;
    font-size: 17px;
    text-decoration: none;
}

.links a:hover {
    color: #FF3B3F;
    background-color: #FFF;
}

.warning-background {
    background-color: yellow;
    color: black;
}

.footer-background {
    background-color: #666;  
}

.footer {
    color: #EFEFEF;
    font-size: 15px;
    font-weight: bold;
}

.footer a {
    color: #EFEFEF;
    text-decoration: none;
}

.footer a:hover {
    color: #FFF;
}
