body {
  font-family: 'PT Sans', sans-serif;
  color: #e7dfdd;
  background-color: #1e1b26;
} 

a {
    color: #4717f6;
}

.navbar-background {
    background-color: #0e0b16;
}
.navbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #e7dfdd;
    font-size: 17px;
}

.links a {
    color: #e7dfdd;
    font-size: 17px;
    text-decoration: none;
}

.links a:hover {
    color: #0e0b16;
    background-color: #4717f6;
}

.footer-background {
    background-color: #0e0b16;  
}

.footer {
    color: #e7dfdd;
    font-size: 15px;
    font-weight: bold;
}

.footer a {
    color: #e7dfdd;
    text-decoration: none;
}

.footer a:hover {
    color: #4717f6;
}
